:focus {
  outline: none;
}
.container {
  display: flex;
}
.mail {
  display: flex;
  align-items: center;
  flex: 1;
}
.mail img {
  max-width: 100%;
}
.mail img:hover {
  transform: rotate(10deg) scale(1.1);
  transition: all 0.3s;
}
.formContainer {
  flex: 2;
}
.formContainer input {
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
}
.wrapInput {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}
.validateInput {
  position: relative;
}
.input1 {
  display: block;
  width: 100%;
  height: 40px;
  background: #f8f7f7;
  line-height: 1.5;
  border: none;
  font-size: 15px;
}
.alertValidate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  padding: 0px 20px 0px 10px;
  top: 40%;
  -webkit-transform: translateY(-25%);
  -moz-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  -o-transform: translateY(-25%);
  transform: translateY(-25%);
  right: 8px;
  pointer-events: none;
  color: var(--primary-color);
  font-size: 12px;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.2s;
}

.alertValidate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: var(--primary-color);
  font-size: 15px;
  top: 40%;
  transform: translateY(-25%);
  right: 13px;
}

.alertValidate:hover:before {
  visibility: visible;
  opacity: 1;
}
.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.permission {
  display: flex;
}
.permission p {
  font-size: 12px;
  margin-top: 0;
}
.intersts {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 10px;
}
