.container {
  position: relative;
  width: 70%;
  height: 100%;
  overflow: hidden;
}
.title {
  padding: 0px 0 0;
  font-size: 30px;
  letter-spacing: 3px;
  text-align: left;
  color: var(--primary-color);
}
.container p {
  padding: 0px 0px;
  line-height: 1.5;
  text-align: left;
}
.container a {
  color: var(--primary-color);
}
