.nav {
  display: flex;
  flex-flow: row;
  list-style-type: none;
  padding: 0;
}

.nav li {
  margin: 10px;
}
.nav li a {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 10px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.5s ease-out;
  color: var(--dark-color);
}
.nav a:hover {
  border-bottom: 2px solid var(--dark-color);
}
li a.active {
  color: var(--primary-color);
}

@media (max-width: 600px) {
  .nav {
    flex-flow: column;
  }
  .nav li {
    padding: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--light-gray);
  }
  .nav a {
    border: none;
  }
  .nav li a:hover {
    border: none;
  }
  li a.active {
    color: var(--primary-color);
  }
}
