.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.inputContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.inputContainer label {
  flex: 1;
}

.inputContainer input {
  padding: 0 10px;
  height: 30px;
  border-radius: 5px;
  flex: 8;
  font-size: 15px;
}
.desc {
  flex: 8;
  padding: 10px;
  max-height: 500px;
  overflow-y: scroll;
}
