.link {
  text-decoration: none;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  cursor: pointer;
  height: 100%;
}
.title{
  font: 1.15rem Lato, sans-serif !important
}

.card img {
  max-width: 100%;
}
.media {
  padding-top: 67.25%;
}
