.link {
  text-decoration: none;
}
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  cursor: pointer;
}
.title{
  font:  1.25rem  Lato, sans-serif
}

.card img {
  max-width: 100%;
}
.media {
  padding-top: 67.25%;
}
