.sideBack {
  z-index: 2;
  padding: 32px;
  text-align: center;
  transform: rotateY(180deg);
}
.cardSide {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0 10px 35px rgba(50, 50, 93, 0.1), 0 2px 15px rgba(0, 0, 0, 0.07);
}
