.appBar {
  height: 80px;
  transition: height 1s;
  -webkit-transition: height 1s;
  background: #fafafa !important;
}
.homePage {
  background: transparent !important;
  box-shadow: none !important;
}
/* // #204864d1  previous color for header*/
.shrink {
  height: 64px;
  background: #fafafa !important;
}

.container {
  display: flex;
  width: 70%;
  height: auto;
  min-height: 700px;
  margin: 20px auto;
}
.bannerBackground {
  right: 5%;
  top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 500px;
  height: 600px;
  overflow: hidden;
  -webkit-transform: rotate(-14deg);
  transform: rotate(-14deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  z-index: -1;
}
@media (max-width: 600px) {
  .appBar {
    background: #fafafa !important;
  }
  .container {
    width: 100%;
  }
}
