.tabsContainer {
  flex-direction: column;
}
.noMargin {
  margin: 0px !important;
}
.hide {
  height: 0px !important;
}
.tab {
  flex-direction: row;
}
.label {
  text-align: left;
  text-transform: none;
}

.divider {
  border-right: 1px solid #ccc;
  padding: 0px !important;
  border-bottom: 1px solid #ccc;
}
.borderBottom {
  border-bottom: 1px solid #ccc;
  padding: 15px 0px;
  text-align: center;
}
