a {
  color: #fff;
}
.bgBlue {
  background: #1fb8ea;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.image {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner_image {
  background-image: url("../../assets/images/bg_image2.jpg");
  width: 100vw;
  height: 100vh;
}
.caption {
  position: absolute;
  right: 5%;
  top: 50%;
  color: #000;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
  width: 30%;
}
/* linear-gradient(to bottom right, rgba(255, 255, 255, 0.8) 20%, rgba(0, 10, 28, 0.2) 65%, rgba(0,10,28,.6) 100%) !important */
.caption .article {
  color: #333;
  padding: 18px 0 0;
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
}
.caption .article span {
  color: #1fb8ea;
}
.caption p {
  padding: 0 20px;
  line-height: 1.5;
  font-size: 20px;
}
.bgimg_2 {
  background-image: url("../../assets/images/bg_image2.jpg");
  min-height: 400px;
}
.bgimg_3 {
  background-image: url("../../assets/images/bg_image3.jpg");
  min-height: 700px;
}
.content {
  color: #fff;
  text-align: center;
  padding: 0 200px;
}
.content h3 {
  letter-spacing: 3px;
  text-transform: capitalize;
  font: 25px "Lato", sans-serif;
  color: #000;
  float: left;
  margin-bottom: 0;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.sendButton {
  min-width: 100px;
  height: 30px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: #1fb8ea;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  cursor: pointer;
}
