.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bannerImage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5%;
  top: 35%;
  width: 30%;
  height: 500px;
  -webkit-transform: rotate(-12deg);
  transform: rotate(-12deg);
  z-index: 1;
}

.bannerImage img {
  height: 100%;
}
.fade {
  opacity: 0;
}
.bannerBackground {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  background: linear-gradient(150deg, #fff 0%, #05d5ff 54%, #03a9f4 97%);
}
.bannerBackground span {
  height: 100px;
  position: absolute;
}
.bannerBackground span:nth-child(1) {
  width: 33.33333%;
  left: -16.66666%;
  background: #fff;
}
.bannerBackground span:nth-child(2) {
  width: 33.33333%;
  top: 0;
  left: 16.66666%;
  right: auto;
  background: #1fb8ea;
}
.bannerBackground span:nth-child(3) {
  background: linear-gradient(90deg, #1fb8ea, #d2f0f9);
  bottom: 0;
  left: auto;
  width: 33%;
  height: 120px;
}

.divider {
  border-bottom: 1px solid var(--light-gray);
}

.caption {
  position: absolute;
  left: 10%;
  top: 30%;
  width: 40%;
  background: var(--caption-white-gradient);
  z-index: 2;
}
.caption .article {
  padding: 18px 0 0;
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
}
.caption p {
  padding: 0 20px;
  line-height: 1.5;
  font-size: 20px;
}
.caption .article span {
  color: var(--primary-color);
}

.content {
  display: flex;
  flex-direction: column;
  color: #000;
  /* background: url("../../assets/images/homepage-body-background.svg"); */
  /* background: linear-gradient(20deg, #fff 10%, #f8f7f7 45%, #05d5ff 14%); */
}

.section {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.sectionHeader {
  color: var(--primary-color);
  letter-spacing: 3px;
  font-size: 2rem;
  font-weight: normal;
}

.bg:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 140%;
  background: whitesmoke;
  transform: skewY(20deg);
  top: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .caption {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .caption {
    top: 40%;
    width: 100%;
    left: 0;
  }
  .caption .article {
    font-size: 22px;
  }
  .bannerImage {
    width: 100%;
    top: 20%;
    left: 0;
  }
}
