.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.image {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner_image {
  background-image: url("../../assets/images/bg_image2.jpg");
  width: 100%;
  height: 100%;
}
.divider {
  border-bottom: 1px solid var(--light-gray);
}
.caption {
  position: absolute;
  right: 5%;
  top: 50%;
  width: 30%;
  background: var(--caption-white-gradient);
}
.caption .article {
  padding: 18px 0 0;
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
}
.caption p {
  padding: 0 20px;
  line-height: 1.5;
  font-size: 20px;
}
span {
  color: var(--primary-color);
}
.innerContainer {
  width: 80%;
  margin: 0 auto;
}
.content {
  display: flex;
  flex-direction: column;
}
.sectionHeader {
  color: var(--primary-color);
  letter-spacing: 3px;
  font: 25px "Lato", sans-serif;
  float: left;
  padding: 10px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .caption {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .caption {
    top: 40%;
    width: 100%;
    right: 0;
  }
  .caption .article {
    font-size: 25px;
  }
}
