.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
.detailsContainer {
  min-height: 200px;
}
.detailsContainer a {
  color: #1fb8ea;
}
.paper {
  height: 200px;
  padding: 10px;
}
.paper h2 {
  color: #1fb8ea;
}
.container {
  max-height: 700px;
  overflow: auto;
}
.tabsContainer {
  background-color: aliceblue;
}
