.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
  width: 70%;
}
.inputContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.inputContainer label {
  flex: 1;
}
.inputContainer input {
  margin-left: 10px;
  height: 30px;
  border-radius: 5px;
  flex: 2.5;
  font-size: 15px;
  padding: 10px;
}
.selectionContainer select {
  flex: 1;
  height: 30px;
  font: 15px Lato, sans-serif;
}
.selectionContainer {
  display: flex;
  flex: 2.5;
  justify-content: space-between;
  align-items: center;
}
.selectionContainer span {
  margin-left: 10px;
}
.buttonText {
  text-transform: capitalize;
}
.checkboxContainer {
  display: flex;
  flex: 1;
  align-items: center;
}
.checkboxContainer input {
  flex: 1;
}
.checkboxContainer label {
  flex: 8;
}
.error {
  display: flex;
  flex: 1;
  min-width: 50px;
  font-size: 12px;
  color: red;
  align-items: center;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
