.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.inputContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.inputContainer label {
  flex: 1;
}

.inputContainer input {
  padding: 0 10px;
  height: 30px;
  border-radius: 5px;
  flex: 8;
  font-size: 15px;
}
.descContainer {
  flex: 8;
  padding: 10px;
  position: relative;
  max-height: 500px;
}
.desc {
  overflow-y: scroll;
  height: 490px;
  width: 100%;
}
.fabRoot {
  position: absolute !important;
  width: 100px !important;
  z-index: 1;
  right: 0;
}
.label {
  color: var(--white-color);
}
