.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bannerImage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 30%;
  width: 550px;
  height: 600px;
  transform: rotate(-10deg);
  z-index: 1;
}

.bannerImage img {
  height: 100%;
  width: 100%;
}
.fade {
  opacity: 0;
}
.bannerBackground {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  background: linear-gradient(150deg, #fff 0%, #05d5ff 54%, #03a9f4 97%);
}
.bannerBackground span {
  height: 100px;
  position: absolute;
}
.bannerBackground span:nth-child(1) {
  width: 33.33333%;
  left: -16.66666%;
  background: #fff;
}
.bannerBackground span:nth-child(2) {
  width: 33.33333%;
  top: 0;
  left: 16.66666%;
  right: auto;
  background: #1fb8ea;
}
.bannerBackground span:nth-child(3) {
  background: linear-gradient(90deg, #1fb8ea, #d2f0f9);
  bottom: 0;
  left: auto;
  width: 33%;
  height: 120px;
}
.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.divider {
  border-bottom: 1px solid #ccc;
}
.downBtn {
  position: absolute;
  right: 50%;
  bottom: 10%;
}
.caption {
  position: absolute;
  left: 10%;
  top: 30%;
  width: 40%;
  z-index: 2;
}
.caption .article {
  padding: 18px 0 0;
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
}
.caption p {
  padding: 0 20px;
  line-height: 1.5;
  font-size: 20px;
  text-align: center;
}
.caption .article span {
  color: #1fb8ea;
}

.content {
  display: flex;
  flex-direction: column;
  color: #000;
}

.section {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.sectionHeader {
  color: #1fb8ea;
  letter-spacing: 3px;
  font-size: 2rem;
  font-weight: normal;
}

.bg:before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 140%;
  background: whitesmoke;
  transform: skewY(20deg);
  top: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .caption {
    width: 70%;
    left: 0;
  }
}
@media (max-width: 600px) {
  .caption {
    top: 40%;
    width: 100%;
    left: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.7) 100%
    );
  }
  .caption .article {
    font-size: 22px;
  }
  .bannerImage {
    width: 100%;
    top: 10%;
    left: 10%;
  }
}
