:root {
  --primary-color: #1fb8ea;
  --white-color: #fff;
  --grey-color: #ddd;
  --black-color: #000;
  --dark-footer-color: #204864;
}

body {
  margin: 0;
  font-size: 14px;
}
a {
  cursor: pointer;
}
.container {
  display: flex;
  height: auto;
  min-height: 700px;
  margin: 20px auto;
}
.bannerBackground {
  right: 5%;
  top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 500px;
  height: 600px;
  overflow: hidden;
  -webkit-transform: rotate(-14deg);
  transform: rotate(-14deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  z-index: -1;
}
label {
  font-size: 16px;
}
@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}
