.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 40%;
  border-radius: 10px;
  padding: 16px;
  left: 30%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
}
@media (max-width: 700px) {
  .modal {
    width: 450px;
    left: calc(50% - 225px);
  }
}
