.topMargin {
  margin-top: 60px;
}
.content {
  color: #ddd;
  text-align: center;
  padding: 50px 80px;
}

.content h3 {
  color: #000;
  letter-spacing: 3px;
  text-transform: capitalize;
  font: 25px "Lato", sans-serif;
}
.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.sendButton {
  color: #1fb8ea;
  min-width: 100px;
  height: 30px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  cursor: pointer;
}

.bgBlue {
  background: #1fb8ea;
}
.bgDark {
  background-color: #204864;
}
.bgDark a {
  color: #fff;
}
