.topMargin {
  margin-top: 60px;
}
.content {
  color: #ddd;
  text-align: center;
  padding: 20px 80px;
}

.content h3 {
  color: #000;
  letter-spacing: 3px;
  text-transform: capitalize;
  font: 25px "Lato", sans-serif;
}
.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.bgBlue {
  background: #1fb8ea;
}
.bgDark {
  background-color: #204864;
}
.bgDark a {
  color: #fff;
}
