.topMargin {
  margin-top: 60px;
}
.content {
  color: var(--grey-color);
  text-align: center;
  padding: 20px 80px;
}

.content h3 {
  color: var(--black-color);
  letter-spacing: 3px;
  text-transform: capitalize;
  font: 25px "Lato", sans-serif;
}
.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.bgBlue {
  background: var(--primary-color);
}
.bgDark {
  background-color: var(--dark-footer-color);
}
.bgDark a {
  color: var(--white-color);
}
