
.container {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px
}
.header {
    display: flex;
    align-items: center;
}
.header h5{
    flex: 2
}
.iconsContainer {
    display: flex;
    flex: 1;
    justify-content: space-evenly
}