.content {
  color: #ddd;
  background-color: #204864d1;
  text-align: center;
  padding: 50px 80px;
}
.bgBlue {
  background-color: #1fb8ea;
}
.content h3 {
  letter-spacing: 3px;
  text-transform: capitalize;
  font: 25px "Lato", sans-serif;
  color: #000;
}
.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.sendButton {
  min-width: 100px;
  height: 30px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: #1fb8ea;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  cursor: pointer;
}
