.appBar {
  height: 80px;
  transition: height 1s;
  -webkit-transition: height 1s;
  background: var(--header-background);
}

/* // #204864d1  previous color for header*/
.shrink {
  height: 64px;
}
@media (max-width: 600px) {
  .appBar {
    height: 64px;
  }
}
