.appBar {
  height: 80px;
  transition: height 1s;
  -webkit-transition: height 1s;
  background: transparent !important;
  box-shadow: none !important;
  /* background: var(--header-background) !important; */
}

/* // #204864d1  previous color for header*/
.shrink {
  height: 64px;
  background: #fafafa !important;
}
